.content-container{
	display: flex;
}

.card-columns-style{
	background-color: #d7fafa;
	padding: 10px;
    border: 1px;
}

@media (min-width: 576px) {
    .card-columns{
        column-count: 1;
    }
}

@media (min-width: 992px) { 
    .card-columns{
        column-count: 2;
    }
}

@media (min-width: 1200px) { 
    .card-columns{
        column-count: 3;
    }
 }

.disable-links{
    pointer-events: none;
}

.twitter-card{
	max-width: 320px;
    background-color: #8cd0ef;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px;
    height: auto;
}

.twitter-card:hover{
	background-color: #6ec6e7;
	cursor: pointer;
}

.card-action{
    display: flex;
    width: 120px;
    margin-left: auto;
    position: relative;
}

.expand-card{
    bottom: 0px;
    right: 7px;
    padding: 0 2px 1px 2px;
    background-color: #00aced;
    color: white;
    font-size: 0.85em;
    border-radius: 0.25em;
    margin-left: 5px;
    position: absolute;
}

.expand-card:hover{
	cursor: pointer;
}

.collapse-card{
	bottom: 3px;
	right: 70px;
	color: white;
	font-size: 0.75em;
	padding-top: 3px;
	position: absolute;
}

.collapse-card:hover{
	cursor: pointer;
	text-decoration: underline;
}

.hide{
	display: none;
}